<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>My entries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="revision">
      <div class="custom_spinner">
        <img src="assets/images/revision_o_white.svg" alt="spinner">
      </div>
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <h5 *ngIf="entryItems.length === 0">You haven't uploaded any entries yet. Log in with your browser on a desktop computer to upload your entries.</h5>
  </div>
  <ion-card *ngFor="let entry of entryItems">
    <img *ngIf="entry.has_screenshot && entry.screenshot" [src]="entry.screenshot.conversions.thumb"/>
    <ion-card-content>
      <ion-card-title>
        {{entry.title}}
      </ion-card-title>
      <p>
        {{entry.author}}
      </p>
      <hr>
      <p>
        Competition: {{entry.competition_name}}
      </p>
      <p>
        Entry-ID: {{entry.id}}
      </p>
      <hr>
      <ion-button expand="block" (click)="presentDetailModal(entry)">Details</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
<app-connectivity></app-connectivity>
