<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img class="logo" src="assets/images/logo.png"></ion-img>

          <div *ngFor="let p of navigationItems; let i = index">

            <ion-item *ngIf="p.url" routerDirection="root" [routerLink]="[p.url, i]" [queryParams]="{ dataUrl: p.dataUrl }" lines="none" detail="false"
                      routerLinkActive="selected" (click)="closeMenu()">
              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>


            <ion-item *ngIf="!p.url" (click)="toggleChildren(i)" lines="none">
              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

            <ng-template [ngIf]="p.items && p.items.length > 0">
              <div [class]="hideMenu[i] ? 'ion-hide' : ''">
                <div *ngFor="let s of p.items; let si = index">
                  <ion-item *ngIf="showItem(s)" class="second-level" routerDirection="root" [routerLink]="[s.url, si]" [queryParams]="{ dataUrl: s.dataUrl }" lines="none" detail="false"
                            routerLinkActive="selected" (click)="closeMenu()">
                    <ion-label>{{ s.title }}</ion-label>
                  </ion-item>
                </div>
              </div>
            </ng-template>


          </div>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
