<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>REVISION 2022</h1>
      <p>
        Experience Revision like never before. Your distributed Easter experience!
        </p>

      <p>
        Enjoy the event at home on the stream or on location at one of our satellites!
      </p>

      <p>
        April 15th to 18th
      </p>
    </ion-slide>
    <ion-slide>
      <h1>REVISION 2022</h1>
      <p>
        Register with your ticket code, check your entries and vote for all the competitions!
      </p>

      <p>
        All the information on your fingertips!
      </p>

      <p>
        Watch the stream directly here!
      </p>
    </ion-slide>
    <ion-slide>
      <h1>REVISION 2022</h1>
      <p>
        If you're at home or at one of our Satellites - fun is guaranteed!
      </p>

      <ion-button [href]="'NewsPage'">
        Let's get started!
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
