<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-img class="logo" src="assets/images/logo.png"></ion-img>
      <p>
        Revision is back in the E Werk!
        </p>

      <p>
        Join us on the world’s largest demoscene stage to enjoy digital art and connect with friends!
        Enjoy the event at home on the stream or on location at one of our satellites!
      </p>

      <p>
        April 7th to 10th, Saarbrücken DE
      </p>
    </ion-slide>
    <ion-slide>
      <ion-img class="logo" src="assets/images/logo.png"></ion-img>
      <p>
        Register with your ticket code or access key, check your entries and vote for all the competitions!
      </p>

      <p>
        All the information at your fingertips!
      </p>

      <p>
        Watch the stream directly here!
      </p>
    </ion-slide>
    <ion-slide>
      <ion-img class="logo" src="assets/images/logo.png"></ion-img>
      <p>
        If you're in Saarbrücken, at home or at one of our Satellites - fun is guaranteed!
      </p>

      <ion-button (click)="setCookieAndRedirect()" >
        Let's get started!
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
<app-connectivity></app-connectivity>

