.favourite {
  background-color: #68afaf;
}
ion-card-content audio {
  width: 100%;
  margin-bottom: 20px;
}
ion-content > div.basic-wrapper {
  margin: 24px 16px;
}
ion-card-content.favourite ion-card-subtitle {
  color: white;
}
